@use '@/assets/scss/utils' as *;

.v-popper--theme-hint, .v-popper--theme-hint-menu{
	color: setColor(white);

	.v-popper__inner {
		background-color: setColor(gray-2);
		font-size: 12px;
		padding: 4px 8px;
		border-radius: 3px;
	}

	.v-popper__arrow-outer {
		border-width: 7px;
		border-top: 0px;
		border-color: setColor(gray-2);
	}
}
