@mixin header(){
	font-style: normal;
  font-weight: bold;
  line-height: 140%;
}

@mixin body(){
	font-style: normal;
  font-weight: normal;
  line-height: 180%;
}

@mixin text-H1 {
  @include header();
  font-size: 44px;
}

@mixin text-H2 {
  @include header();
  font-size: 40px;
}

@mixin text-H3 {
  @include header();
  font-size: 32px;
}

@mixin text-H4 {
  @include header();
  font-size: 24px;
}

@mixin text-H5 {
  @include header();
  font-size: 20px;
}

@mixin text-H6 {
  @include header();
  font-size: 16px;
}

@mixin body-XL {
  @include body();
  font-size: 20px;
}

@mixin body-LG {
  @include body();
  font-size: 18px;
}

@mixin body-MD {
  @include body();
  font-size: 16px;
}
  
@mixin body-SM {
  @include body();
  font-size: 14px;
}

@mixin body-XS {
  @include body();
  font-size: 12px;
}

@mixin body-XXS {
  @include body();
  // white-space: nowrap;
  font-size: 12px;
  transform: scale(0.8);
}

@mixin primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  color: setColor(white);
  background: setColor(blue-1);
  border-radius: 4px;
}

@mixin button-LG {
  @include primary-btn;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}