.DS_Store
node_modules
/dist
/cypress/screenshots
/cypress/videos/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Preview-url tool config file
/preview-url-tool/*.json

# i18n_rename tool config file
/src/i18n-tool/config/i18n_rename_setting.py
