swagger: "2.0"
info:
  version: "20211006"
  title: apiTemplate
host: api.vivipic.com
schemes:
  - https
paths:
  /add-design:
    post:
      description: 記錄使用者選用的設計
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: addDesignInput
          required: true
          schema:
            $ref: "#/definitions/addDesignInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/apiCommonResponse"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /delete-asset:
    post:
      description: 刪除使用者上傳之檔案
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: deleteAssetInput
          required: true
          schema:
            $ref: "#/definitions/deleteAssetInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/apiCommonResponse"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /fb-login:
    post:
      description: fb登入
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: fbLoginInput
          required: true
          schema:
            $ref: "#/definitions/fbLoginInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/loginOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /google-login:
    post:
      description: google登入
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: googleLoginInput
          required: true
          schema:
            $ref: "#/definitions/googleLoginInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/loginOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /list-asset:
    post:
      description: 列出所有使用者上傳之檔案
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: listAssetInput
          required: true
          schema:
            $ref: "#/definitions/listAssetInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/listAssetOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /list-design:
    post:
      description: 取得各種設計(background/font/svg/template/text)列表
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: listDesignInput
          required: true
          schema:
            $ref: "#/definitions/listDesignInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/listDesignOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /list-lib-photo:
    post:
      description: 取得圖庫(unsplash or pexels)照片列表
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: listLibPhotoInput
          required: true
          schema:
            $ref: "#/definitions/listLibPhotoInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/listDesignOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /login:
    post:
      description: 進入app時呼叫，取得上傳/下載之url
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: loginInput
          required: true
          schema:
            $ref: "#/definitions/loginInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/loginOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /register:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: registerInput
          required: true
          schema:
            $ref: "#/definitions/registerInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/apiCommonResponse"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /reprocess-design:
    post:
      description: 重新處理Cyberduck上傳之檔案
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: reprocessDesignInput
          required: true
          schema:
            $ref: "#/definitions/reprocessDesignInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/apiCommonResponse"
  /reset-password:
    post:
      description: 重設密碼
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: resetPasswordInput
          required: true
          schema:
            $ref: "#/definitions/resetPasswordInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/apiCommonResponse"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /send-vcode:
    post:
      description: 傳送驗證碼
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: sendVcodeInput
          required: true
          schema:
            $ref: "#/definitions/sendVcodeInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/apiCommonResponse"
          headers:
            Access-Control-Allow-Origin:
              type: string
  /verify-vcode:
    post:
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: verifyVcodeInput
          required: true
          schema:
            $ref: "#/definitions/verifyVcodeInput"
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/verifyVcodeOutput"
          headers:
            Access-Control-Allow-Origin:
              type: string
definitions:
  uploadMap:
    type: object
    properties:
      url:
        type: string
        description: Root url for upload files.
      fields:
        type: object
        description: Append all fields to upload form.
        properties: {}
      path:
        type: string
        description: Allowed path for upload.
  listDesignOutput:
    allOf:
      - $ref: "#/definitions/apiCommonResponse"
      - type: object
        properties:
          data:
            type: object
            description: >-
              
              host: Host domain for design preview and data.

              preview: File name for design preview.

              preview2: File name for font sample text preview, only present for font.

              data: File name for design data (json for non-font, woff2 for font).

              content: array of design category, with category_id as id of category, title as categroy name, and list as array of objects with design id and design type. category_id will be -1 and title '' for list_all = 1.

              next_page: pagination index for next query, only for query with list_all = 1.

              Url for design preview: `${host}/${design_id}/${preview}` and `${host}/${design_id}/${preview2}`. Url for design data: `${host}/${design_id}/${data}`.
            properties:
              host:
                type: string
              preview:
                type: string
              preview2:
                type: string
              data:
                type: string
              content:
                type: array
                items:
                  type: object
                  properties:
                    category_id:
                      type: number
                    title:
                      type: string
                    list:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          type:
                            type: number
              next_page:
                type: number
            required:
              - content
              - data
              - host
              - preview
  listAssetOutput:
    allOf:
      - $ref: "#/definitions/apiCommonResponse"
      - type: object
        properties:
          data:
            type: object
            properties:
              photo:
                $ref: "#/definitions/assetMap"
              video:
                $ref: "#/definitions/assetMap"
              font:
                $ref: "#/definitions/assetMap"
              design:
                $ref: "#/definitions/assetMap"
            required:
              - design
              - font
              - photo
              - video
  resetPasswordInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - account
          - upass
        properties:
          account:
            type: string
            description: user account
          upass:
            type: string
            description: user password
  registerInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - meta
        properties:
          meta:
            type: string
            description: meta data
  googleLoginInput:
    type: object
    required:
      - code
      - redirect_uri
    properties:
      code:
        type: string
        description: google code
      redirect_uri:
        type: string
        description: google redirect url
  listLibPhotoInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - locale
          - page_index
          - type
        properties:
          type:
            type: string
            description: "lib type: unsplash or pexels (pexels is not ready)."
          locale:
            type: string
            description: |-
              country code for locale, ex: tw, us, jp...
              Allowed characters: a-zA-Z.
          page_index:
            type: number
            description: pagination index
          keyword:
            type: string
            description: keyword to search
  listDesignInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - locale
          - type
        properties:
          type:
            type: string
            description: "design type: background, font, svg, marker, template, or text"
          locale:
            type: string
            description: |-
              country code for locale, ex: tw, us, jp...
              Allowed characters: a-zA-Z.
          list_all:
            type: number
            description: 0 (default) for list first 10 elements in each category except
              category 0. 1 for list all elements including category 0.
          page_index:
            type: number
            description: pagination index
          keyword:
            type: string
            description: keyword to search
          font_list:
            type: number
            description: 0 (default) for return all font key id in single array, 1 for
              return key id in various arrays according to title
  sendVcodeInput:
    type: object
    required:
      - account
      - register
      - vcode_only
    properties:
      uname:
        type: string
        description: user name
      account:
        type: string
        description: user account
      upass:
        type: string
        description: user password
      register:
        type: string
        description: register flag
      vcode_only:
        type: string
        description: vcode only flag
  assetMap:
    type: object
    properties:
      title:
        type: string
        description: Category title for assets
      content:
        type: array
        items:
          type: object
          properties:
            id:
              type: string
              description: Asset id
            file_name:
              type: string
              description: File name for asset, for display purpose
            file_ext:
              type: string
              description: File extension for asset
    description: To access the original file of the asset, the url is
      ${dl_url}/${id}/original
  loginOutput:
    allOf:
      - $ref: "#/definitions/apiCommonResponse"
      - type: object
        properties:
          data:
            type: object
            description: >-
              
              user_name: name of user

              user_id: user id, as metadata for upload

              token: token (will be refreshed if about to expire)

              design_type_map: key as design type id, value as design type string

              download_url: Url for access private files in S3. Replace wildcard (*) in url by object key.

              upload_map: Map for uploading files to path in private bucket

              upload_admin_map: Map for uploading files to path in public bucket.

              design_type_map: Map for design type id (number) to design type name (string)

              role: 0 for admin, 1 for normal user

              ver_uni: universal version for cache control 

              How to upload asset file:

              1. Create new FormData() and append all key-value pairs in uploadMap.fields to it

              2. Append key with name as 'key' and value as `${uploadMap.path}/asset/${assetType}/${assetId}/original`. The assetType can be 'image', 'font', or 'design'. The assetId is generated in client-side, with the format of 15-digit number 'YYMMDDHHmmssiii' (YY: current year - 2000, MM: month in 2-digit, D: date in 2-digit, H: hour from 00 to 23, mm: minute, ss: second, iii: millisecond) appended with 8-digit alphanumerical (0-9a-zA-Z) random characters.

              3. Append key with name as 'Content-Disposition' and value as `attachment; filename*=UTF-8''${encodeURIComponent(localFileNameWithExtension)}`. For design file, the value of 'Content-Disposition' can be empty string (for which the original should be json file, not for download purpose).

              4. Append key with name as 'x-amz-meta-tn' and value as user_id provided in response

              5. Append key with name as 'file' and value as the File Object of the selected file or Blob

              6. Post the FormData by XMLHttpRequest with the url as uploadMap.url
               How to upload temporary edit json file:
              1. Create new FormData() and append all key-value pairs in uploadMap.fields to it

              2. Append key with name as 'key' and value as `${uploadMap.path}/edit/temp.json`.

              3. Append key with name as 'Content-Disposition' and value as empty string

              4. Append key with name as 'x-amz-meta-tn' and value as user_id provided in response

              5. Append key with name as 'file' and value as the File Object of the json

              5. Post the FormData by XMLHttpRequest with the url as uploadMap.url
            properties:
              user_name:
                type: string
              user_id:
                type: string
              token:
                type: string
              design_type_map:
                type: object
                properties: {}
              download_url:
                type: string
              upload_map:
                $ref: "#/definitions/uploadMap"
              upload_admin_map:
                $ref: "#/definitions/uploadMap"
              role:
                type: number
              ver_uni:
                type: number
            required:
              - design_type_map
              - download_url
              - role
              - token
              - upload_map
              - user_id
              - user_name
              - ver_uni
  Empty:
    type: object
    title: Empty Schema
  verifyVcodeOutput:
    allOf:
      - $ref: "#/definitions/apiCommonResponse"
      - type: object
        properties:
          token:
            type: string
            description: token
          expire_time:
            type: string
            description: expire time
  addDesignInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - design_id
          - type
        properties:
          type:
            type: string
            description: "design type: background, font, svg, template, or text"
          design_id:
            type: string
            description: design id selected by user
  apiCommonInput:
    type: object
    required:
      - token
    properties:
      token:
        type: string
        description: |-
          User token.
          Allowed characters: 0-9a-zA-Z.
  verifyVcodeInput:
    type: object
    required:
      - account
      - vcode
    properties:
      account:
        type: string
        description: user account
      vcode:
        type: string
        description: verification code
  reprocessDesignInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - path
        properties:
          path:
            type: string
            description: path of design files to be re-processed
  deleteAssetInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        required:
          - key_list
        properties:
          key_list:
            type: string
            description: key list of assets to be deleted, separated by comma ','
  apiCommonResponse:
    type: object
    required:
      - flag
    properties:
      flag:
        type: number
        description: "0: success, 1: fail, 2: token invalid"
      msg:
        type: string
        description: error message
  loginInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        properties:
          account:
            type: string
            description: User account
          password:
            type: string
            description: User password
  fbLoginInput:
    type: object
    required:
      - code
      - redirect_uri
    properties:
      code:
        type: string
        description: fb code
      redirect_uri:
        type: string
        description: fb redirect url
  listAssetInput:
    allOf:
      - $ref: "#/definitions/apiCommonInput"
      - type: object
        properties:
          page_index:
            type: number
            description: pagination index
