// only charmix custom transition put here

.bottom-panel-transition {
  &-enter-active {
    transition:
      opacity 0.4s,
      transform 0.4s;
  }
  &-leave-active {
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(5px);
  }
}

