@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-1,
  .line-clamp-2,
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
  .line-clamp-1 {
    -webkit-line-clamp: 1;
    line-height: 1.4;
  }
  .line-clamp-2 {
    -webkit-line-clamp: 2;
    line-height: 1.6;
  }
  .line-clamp-3 {
    -webkit-line-clamp: 3;
    line-height: 1.6;
  }
}

