@use './colors' as colors;

$colors: module-variables('colors');

$linear-gradient: (
	progress-bar: linear-gradient(90deg, #09467E 0%, #4EABE6 100%),
	logo: linear-gradient(90deg, #59c3E1, #50a2d8)
);

$zindex: (
	'default-1',
	'default-2',
	'frames',
	'editor-view',
	'page-highlighter',
	'nu-controller',
	'nu-highlighter',
	'selection-area',
	'snap-area',
	'pages-preview',
	'ruler',
	'scale-ratio-editor',
	'scale-bar',
	'header',
	'mobile-panel',
	'footer',
	'mobile-panel-bottom',
	'function-panel',
	'color-panel',
	'sidebar',
	'editor-header',
	'nu-header',
	'coordinate',
	'dropdowns',
	'hint',
	'popup'
);

$ease-functions: (
	ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1),
	ease-out-elastic: cubic-bezier(0.75, -0.5, 0, 1.75)
);

$header-height: 72px;
