.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex
}

.flex-column {
    flex-direction: column;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.p-2 {
    padding: 2px;
}

.px-2 {
    padding-left: 2px;
    padding-right: 2px;
}

// padding and margin
$spacer: 5;

@for $i from 0 through 24 {
    $space: ($spacer * $i);

    .mt-#{$space} {
        margin-top: $space*1px;
    }

    .mr-#{$space} {
        margin-right: $space*1px;
    }

    .ml-#{$space} {
        margin-left: $space*1px;
    }

    .mb-#{$space} {
        margin-bottom: $space*1px;
    }

    .mx-#{$space} {
        margin-left: $space*1px;
        margin-right: $space*1px;
    }

    .my-#{$space} {
        margin-top: $space*1px;
        margin-bottom: $space*1px;
    }

    .m-#{$space} {
        margin: $space*1px;
    }

    // padding
    .pt-#{$space} {
        padding-top: $space*1px;
    }

    .pr-#{$space} {
        padding-right: $space*1px;
    }

    .pl-#{$space} {
        padding-left: $space*1px;
    }

    .pb-#{$space} {
        padding-bottom: $space*1px;
    }

    .px-#{$space} {
        padding-left: $space*1px;
        padding-right: $space*1px;
    }

    .py-#{$space} {
        padding-top: $space*1px;
        padding-bottom: $space*1px;
    }

    .p-#{$space} {
        padding: $space*1px;
    }
}

.rounded-none {
    border-radius: 0px;
}

.rounded-sm {
    border-radius: 0.125rem;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.align-top {
    vertical-align: top;
}

.align-bottom {
    vertical-align: bottom;
}

.align-middle {
    vertical-align: middle;
}

.align-baseline {
    vertical-align: baseline;
}

.border-box {
    box-sizing: border-box;
}

.content-box {
    box-sizing: content-box;
}

.overflow-hidden {
    overflow: hidden;
}

.cover {
    background-size: cover;
}

.contain {
    background-size: contain;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.rotate-hr {
    transform: rotate(180deg);
}

.click-disabled {
    pointer-events: none;
}

.visible-hidden {
    pointer-events: none;
    visibility: hidden;
}

.preserve3D {
    transform-style: preserve-3d;
}

.transform-origin-0 {
    transform-origin: 0 0;
}
