button {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

input {
	outline: none;
	border: none;
	width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

select {
	outline: none;
	border: none;
	width: 100%;
}

input,
textarea,
button,
select,
div,
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
