.h {
	&-1{
		font-size: 72px;
		line-height: 98px;
	}
	&-2{
		font-size: 48px;
		line-height: 64px;
		font-weight: 800;
	}
	&-3{
		font-size: 40px;
		line-height: 54px;
		font-weight: 800;
	}
	&-4{
		font-size: 28px;
		line-height: 40px;
		font-weight: 800;
	}
	&-5{
		font-size: 24px;
		line-height: 32px;
		font-weight: 600;
	}
	&-6{
		font-size: 20px;
		line-height: 30px;
		font-weight: 400;
	}
}

.subtitle{
	&-1 {
		font-size: 18px;
		line-height: 28px;
		font-weight: 700;
	}
	&-2 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 600;
	}
}

.body {
	&-1 {
		font-size: 16px;
		line-height: 26px;
		font-weight: 400;
	}
	&-2 {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
	}
}

.lead {
	&-1 {
		font-size: 16px;
		line-height: 32px;
		font-weight: 400;
	}
	&-2{
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
	}
}
@mixin label-sm(){
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
}

@mixin label-mid(){
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}

@mixin label-lg(){
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
}


.label {
	&-sm {
		@include label-sm()
	}
	&-mid {
		@include label-mid()
	}
	&-lg {
		@include label-lg()
	}
}


//
// Text Controls
//

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.break-word {
  word-wrap: break-word;
}
.no-wrap {
  white-space: nowrap;
}