@import '@/assets/scss/base/typography.scss';
@import '@/assets/scss/utils/mixins.scss';

$buttons: (
	primary: setColor(blue-1),
	secondary: setColor(blue-2),
	tertiary: setColor(blue-3),
	gray: setColor(gray-6),
	inactive: setColor(gray-4),
	icon: none
);

$textColor: (
	primary: setColor(white),
	secondary: setColor(blue-1),
	tertiary: setColor(white),
	gray: setColor(gray-2),
	inactive: setColor(white),
	icon: none
);

$borderColor: (
	primary: none,
	secondary: none,
	tertiary: none,
	gray: none,
	inactive: setColor(white),
	icon: none
);

/*
	.btn-primary-sm
	.btn-primary-mid
	.btn-primary-lg

	.btn-secondary-sm
	.btn-secondary-mid
	.btn-secondary-lg

	.btn-white-sm
	.btn-white-mid
	.btn-white-lg
*/


@each $type, $color in $buttons {
	.btn-#{"" + $type}{ // "" -> prevent node warning 
		&-sm {
			@include label-sm();
			@include flexCenter();
			background-color: $color;
			color: map-get($textColor, $type);
			padding: 6px 12px;
		}
		&-mid{
			@include label-mid();
			@include flexCenter();
			background-color: $color;
			color: map-get($textColor, $type);
			padding: 10px 20px;
		}
		&-mid-body{
			@include body-2();
			@include flexCenter();
			background-color: $color;
			color: map-get($textColor, $type);
			padding: 10px 20px;
		}
		&-lg{
			@include label-lg();
			@include flexCenter();
			background-color: $color;
			color: map-get($textColor, $type);
			padding: 15px 30px;
		}
	}
};


.btn-text {
	&-heading {
		@include heading-3;
		background-color: setColor(blue-3);
		color: setColor(white);
	}

	&-subheading {
		@include subtitle-1;
		background-color: setColor(blue-3);
		color: setColor(white);
		padding-top: 5px;
		padding-bottom: 5px;
	}

	&-body {
		@include label-mid();
		background-color: setColor(blue-3);
		color: setColor(white);
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
