@use '@/assets/scss/utils' as *;

.action-bar {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: setColor(gray-6);

  &--small {
    padding: 10px 5px;
  }

  &--mobile {
    padding: 15px 0px;
    background-color: setColor(gray-7);
    justify-content: space-evenly;
  }
}

.property-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px 10px;
  transition: border-color .2s ease-in-out;

  >* {
    transition: color .2s ease-in-out;
  }
}

.size-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid setColor(gray-4);
  border-radius: 3px;

  >div {
    padding: 4px 8px;

    &:nth-child(1) {
      border-right: 1px solid setColor(gray-4);
    }

    &:nth-child(3) {
      border-left: 1px solid setColor(gray-4);
    }
  }
}

.feature-button {
  border-radius: 3px;

  &.disabled {
    opacity: .3;
  }

  &.active {
    background-color: setColor(blue-3);
  }

  &:not(.disabled):hover {
    background-color: setColor(blue-4);
  }
}
