@import '@/assets/scss/base/typography.scss';
@import '@/assets/scss/utils/mixins.scss';

.scrollbar-white {
	scrollbar-width: thin;
	overscroll-behavior: contain;

	&::-webkit-scrollbar {
		width: 15px;
		height: 15px;
		background-color: unset;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: white;
	}
}

.scrollbar-gray {
	scrollbar-width: thin;
	overscroll-behavior: contain;

	&::-webkit-scrollbar {
		width: 15px;
		height: 15px;
		background-color: unset;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: setColor(gray-3);
	}
}


.scrollbar-white-thin {
	scrollbar-width: thin;
	overscroll-behavior: contain;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: unset;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: white;
	}
}

.scrollbar-gray-thin {
	scrollbar-width: thin;
	overscroll-behavior: contain;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		background-color: unset;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: setColor(gray-3);
	}
}
