
.input {
	&__slider{
		&--range {
			display: block;
			margin: auto;
			appearance: none;
			outline: none;
			background: none;
			&::-webkit-slider-runnable-track {
				height: 2px;
				background-color: #d9dbe1;
			}
			&::-webkit-slider-thumb {
				appearance: none;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #ffffff;
				border: 2px solid #3c64b1;
				transition: 0.2s;
				margin-top: -6.5px;
				position: relative;
			}
		}
		&--text {
      box-sizing: border-box;
			text-align: center;
			border: 1px solid setColor(gray-4);
			color: setColor(gray-3);
			border-radius: 0.25rem;
		}
	}
}
