@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexkai.css');
@font-face {
    font-family: 'SweiSpringCJKtc-Regular';
    src: url('https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff2') format('woff2'), url('https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('https://fonts.gstatic.com/s/notosanstc/v11/-nFlOG829Oofr2wohFbTp9i9WyEKIfVZ15Ls5XOFrksA2xrfz7uqxBF_ije-Lcrp9hfGsGeZ-W5oyw.0.woff2');
}

@font-face {
    font-family: 'SoukouMincho';
    src: url('~@/assets/fonts/SoukouMincho/SoukouMincho.ttf') format('truetype');
}

@font-face {
    font-family: 'SetoFont';
    src: url('~@/assets/fonts/SetoFont/SetoFont.ttf') format('truetype');
}

@font-face {
    font-family: 'GenJyuuGothicX-P-Regular';
    src: url('~@/assets/fonts/GenJyuuGothicX/GenJyuuGothicX-P-Regular.ttf') format('truetype');
}