@font-face {
    font-family: 'SoukouMincho';
    src: url('~@/assets/fonts/SoukouMincho/SoukouMincho.ttf') format('truetype');
}

@font-face {
    font-family: 'SetoFont';
    src: url('~@/assets/fonts/SetoFont/SetoFont.ttf') format('truetype');
}

@font-face {
    font-family: 'GenJyuuGothicX-P-Regular';
    src: url('~@/assets/fonts/GenJyuuGothicX/GenJyuuGothicX-P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    src: url('~@/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('~@/assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cwTeXKai';
    src: url('~@/assets/fonts/cwTeXKai/cwTeXKai-zhonly.ttf') format('truetype');
}

@font-face {
    font-family: 'SweiSpringSugarCJKtc-Regular';
    src: url('~@/assets/fonts/SweiSpringSugarCJKtc/SweiSpringSugarCJKtc-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansTC';
    src: url('~@/assets/fonts/Noto_Sans_TC/NotoSansTC-Regular.otf');
}