@use '@/assets/scss/utils/variables.scss' as *;
@use '@/assets/scss/utils/functions.scss' as *;
@use '@/assets/scss/utils/formatStyle.scss' as *;

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin layout-mobile {
  @media screen and (max-aspect-ratio: 1/1) {
    @content;
  }
}

@mixin firefoxOnly {
  // Only for Firefox, https://stackoverflow.com/a/32455002
  @supports (-moz-appearance: none) {
    @content;
  }
}

@mixin safariOnly {
  // Only for Safari, https://stackoverflow.com/a/25975282
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none !important;
  }

  /* IE and Edge */
  -ms-overflow-style: none !important;
  /* Firefox */
  scrollbar-width: none !important;
}

// Push scroll bar to outside. Ex: Categorylist
@mixin push-scrollbar10 {
  box-sizing: border-box;
  margin-right: -10px;

  // Firefox mobile never display scrollbar, add padding right back.
  @include firefoxOnly {
    .mobile-panel & {
      padding-right: 10px;
    }
  }
}

@mixin hover-scrollbar($theme: light, $showX: false) {
  // $theme == light (default theme)
  $thumbColor: setColor(gray-3);
  $trackColor: white;
  $scrollbarWidth: 12px;
  $borderRadius: 6px;
  @if $theme == dark {
    $thumbColor: setColor(gray-4);
    $trackColor: setColor(sidebar-panel);
    $scrollbarWidth : 10px;
    $borderRadius: 5px;
  }
  
  overflow-y: scroll;
  @if $showX == true {
    overflow-x: scroll;
  } @else {
    overflow-x: hidden;
  }

  // Show scrollbar only when hovering, for Webkit
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
    height: $scrollbarWidth;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $borderRadius;
    background-color: $thumbColor;
    visibility: hidden;
    border: 3px solid $trackColor;
  }
  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  &::-webkit-scrollbar-corner { // Coner of scrollbar x and y.
    background-color: transparent;
  }

  // Show scrollbar only when hovering, for Firefox
  @include firefoxOnly {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    &:hover {
      scrollbar-color: $thumbColor transparent;
    }
  }
}

@mixin popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a1;
  z-index: setZindex("popup");
}

@mixin default-input {
  @include body-SM;
  box-sizing: border-box;
  height: 44px;
  padding: 10px;
  border-radius: 4px;
  color: setColor(gray-2);
  border: 1px solid setColor(gray-4);
  &:focus {
    border-color: setColor(blue-1);
  }
  &[invalid="true"] {
    border-color: setColor(red);
  }
}

@mixin progressSlider($height: 5px, $thumbSize: 12px, $marginTop: -3.5px, $thumbColor: white, $scale: false) {
	height: $height;
	display: block;
	appearance: none;
	outline: none;
	background: linear-gradient(to right, var(--lower-color) var(--progress), var(--upper-color) var(--progress));
	border-radius: $height / 2;
	&::-webkit-slider-runnable-track {
		height: $height / 2;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: $thumbSize;
		height: $thumbSize;
		border-radius: 50%;
		background-color: $thumbColor;
		box-shadow: 0px 0px 8px rgba(60, 60, 60, 0.31);
		margin-top: $marginTop;
		position: relative;
}
	&::-moz-range-thumb {
		appearance: none;
		width: $thumbSize;
		height: $thumbSize;
		border-radius: 50%;
		background-color: $thumbColor;
		box-shadow: 0px 0px 8px rgba(60, 60, 60, 0.31);
		border: none;
		margin-top: $marginTop;
		position: relative;
	}
	@if $scale {
		&::-webkit-slider-thumb:hover {
			transform: scale(1.333);
		}
		&::-moz-range-thumb:hover {
			transform: scale(1.333);
		}
	}
}