@mixin size($w,$h:$w) {
	width: $w;
	height: $h;
}
@mixin flexCenter(){
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin layout-mobile {
    @media screen and (max-aspect-ratio: 1/1) {
        @content;
    }
}
@mixin no-scrollbar {
    &::-webkit-scrollbar {
        display: none !important;
    }
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}
@mixin hide-scrollbar{
    // Disable x scrollbar and let y scrollbar appear only when hovering it
    // If element height <= parent height, y scrollbar will never appear.
    overflow-y: auto; // Firefox will use this
    overflow-y: overlay; // Only for Webkit
    overflow-x: hidden;
    scrollbar-width: none; // Only for Firefox
    
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: unset;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      visibility: hidden;
      background-color: #d9dbe1;
      border: 3px solid #2c2f43;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
      scrollbar-width: thin; // Only for Firefox
      @-moz-document url-prefix(){ // Only for Firefox
        padding-right: 0px;
      }
    }
}

@import "@/assets/scss/utils/variables.scss"; // better way?
@mixin popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a1;
  z-index: setZindex('popup');
}
.popup-window { @include popup-window; }