@use '@/assets/scss/utils/variables.scss' as *;
@use '@/assets/scss/utils/functions.scss' as *;
@use '@/assets/scss/utils/formatStyle.scss' as *;

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin layout-mobile {
  @media screen and (max-aspect-ratio: 1/1) {
    @content;
  }
}

@mixin firefoxOnly {
  // Only for Firefox, https://stackoverflow.com/a/32455002
  @supports (-moz-appearance: none) {
    @content;
  }
}

@mixin safariOnly {
  // Only for Safari, https://stackoverflow.com/a/25975282
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      @content;
    }
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none !important;
  }

  /* IE and Edge */
  -ms-overflow-style: none !important;
  /* Firefox */
  scrollbar-width: none !important;
}

// For layout which
//   1. Need push scroll bar to outside. Ex: Categorylist
//   2. Don't have padding-right originally.
// Usage: use push-scrollbar10 first, then hide-scrollbar
//
// Ex1 (without padding-right):
// @include push-scrollbar10;
// @include hide-scrollbar;
// padding-right: 0;
//
// Ex2 (with padding-right):
// @include hide-scrollbar($padding-right: 20px);
// padding-right: 20px;
@mixin push-scrollbar10 {
  margin-right: -10px;
  padding-right: 10px;
  box-sizing: border-box;

  &:not(:hover),
  &:hover {
    @include firefoxOnly {
      margin-right: -11px;
      padding-right: 11px;
    }
  }

  @include safariOnly {
    @supports not (-webkit-touch-callout: none) { // Only for not safari mobile, https://stackoverflow.com/a/47818418
      padding-right: 0;
    }
  }
}

$thumb-color: #d9dbe1; // gray-4

@mixin hide-scrollbar($padding-right: 11px) {
  // Disable x scrollbar and let y scrollbar appear only when hovering it
  // If element height <= parent height, y scrollbar will never appear.
  overflow-y: auto; // Firefox will use this
  overflow-y: overlay; // Only for Webkit
  overflow-x: hidden;
  scrollbar-width: none; // Only for Firefox

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: unset;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    visibility: hidden;
    background-color: $thumb-color;
    border: 3px solid setColor(sidebar-panel);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }

    @include firefoxOnly {
      overflow-y: scroll;
      padding-right: calc(#{$padding-right} - 11px);
      scrollbar-width: thin;
      scrollbar-color: $thumb-color transparent;
    }
  }
}

@mixin hide-scrollbar-white($padding-right: 11px) {
  @include hide-scrollbar($padding-right);

  &::-webkit-scrollbar-thumb {
    border: 3px solid white;
  }
}

@mixin popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a1;
  z-index: setZindex("popup");
}

.popup-window {
  @include popup-window;
}

@mixin default-input {
  @include body-SM;
  box-sizing: border-box;
  height: 44px;
  padding: 10px;
  border-radius: 4px;
  color: setColor(gray-2);
  border: 1px solid setColor(gray-4);
  &:focus {
    border-color: setColor(blue-1);
  }
  &[invalid="true"] {
    border-color: setColor(red);
  }
}

.default-input {
  @include default-input;
}

@mixin progressSlider($height: 5px, $thumbSize: 12px, $marginTop: -3.5px, $thumbColor: white, $scale: false) {
	height: $height;
	display: block;
	appearance: none;
	outline: none;
	background: linear-gradient(to right, var(--lower-color) var(--progress), var(--upper-color) var(--progress));
	border-radius: $height / 2;
	&::-webkit-slider-runnable-track {
		height: $height / 2;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: $thumbSize;
		height: $thumbSize;
		border-radius: 50%;
		background-color: $thumbColor;
		box-shadow: 0px 0px 8px rgba(60, 60, 60, 0.31);
		margin-top: $marginTop;
		position: relative;
}
	&::-moz-range-thumb {
		appearance: none;
		width: $thumbSize;
		height: $thumbSize;
		border-radius: 50%;
		background-color: $thumbColor;
		box-shadow: 0px 0px 8px rgba(60, 60, 60, 0.31);
		border: none;
		margin-top: $marginTop;
		position: relative;
	}
	@if $scale {
		&::-webkit-slider-thumb:hover {
			transform: scale(1.333);
		}
		&::-moz-range-thumb:hover {
			transform: scale(1.333);
		}
	}
}