$colors: (
	blue-1: #4EABE6, // primary
	blue-2: #7190CC, // secondary
	blue-3: #C9DBFF,
	blue-4: #E7EFFF,
	gray-0: #000000,
	gray-1: #18191F, 
	gray-1-5: #2C2F43,
	gray-2-5: #7f8186,
	gray-2: #474A57,
	gray-3: #969BAB,
	gray-4: #D9DBE1,
	gray-5: #EEEFF4,
	gray-6:#F4F5F7,
	white: #FFFFFF,
	nav: #14182A ,
	nav-active: #2C2F43,
	sidebar-panel: #2C2F43,
	// nav: #373B53 ,
	red: #EB5757,
	green-1: #4DB433
);

$linear-gradient: (
  progress-bar: linear-gradient(90deg, #F28606 0%, #D61313 100%),
);

$zindex: (
	'default-1',
	'default-2',
	'frames',
	'editor-view',
	'page-highlighter',
	'nu-controller',
	'nu-highlighter',
	'selection-area',
	'snap-area',
	'function-panel',
	'pages-preview',
	'scale-ratio-editor',
	'scale-bar',
	'header',
	'color-panel',
	'sidebar',
	'editor-header',
	'coordinate',
	'dropdowns',
	'hint',
	'popup'
);

$ease-functions: (
  ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1),
  ease-out-elastic: cubic-bezier(0.75, -0.5, 0, 1.75)
);
