$colors: (
	blue-1: #3C64B1, // primary
	blue-2: #7190CC, // secondary
	blue-3: #C9DBFF,
	gray-1: #18191F, 
	gray-2: #474A57,
	gray-3: #969BAB,
	gray-4: #D9DBE1,
	gray-5: #EEEFF4,
	gray-6:#F4F5F7,
	white: #FFFFFF,
	nav: #373B53 
);


$zindex: (
	'default-1',
	'default-2',
	'function-panel',
	'frames',
	'editor-view',
	'header',
	'sidebar'
)

