$colors: (
	blue-1: #4EABE6,
	// primary
	blue-2: #7190CC,
	// secondary
	blue-3: #C9DBFF,
	blue-4: #E7EFFF,
	blue-5: #ebf4fa,
	blue-hover: #2DB3FF,
	blue-active: #4279CC,
	dark-blue: #113251,
	dark-blue-2: #09467E,
	bu: #3C64B1,
	gray-0: #000000,
	gray-1: #18191F,
	gray-1-5: #2C2F43,
	gray-2-7: #828282,
	gray-2-5: #7f8186,
	gray-2: #474A57,
	gray-3: #969BAB,
	gray-4: #D9DBE1,
	gray-5: #EEEFF4,
	gray-6:#F4F5F7,
	gray-7: #F8F8F8,
	light-gray: #C3CBCD,
	black-1: #141414,
	black-1-5: #151515,
	black-2: #1F1F1F,
	black-3: #2E2E2E,
	black-4: #7E7E7E,
	black-5: #9C9C9C,
	black-6: #E8E8E8,
	white: #FFFFFF,
	nav: #14182A,
	nav-design: #373B53,
	nav-active: #2C2F43,
	nav-input: #2D3143,
	sidebar-panel: #2C2F43,
	dark-bg: #3D4256,
	dark-bg-active: #323647,
	light-bg: #F4F5F7,
	// nav: #373B53 ,
	red: #EB5757,
	red-1: #C74848,
	red-2: #F05B5B,
	green-1: #4DB433,
	green-2: #27ae60,
	yellow: #FFECA8,
	orange: #F28606,
	transparent: transparent,
	alarm: #FFBA49
);

$linear-gradient: (
	progress-bar: linear-gradient(90deg, #09467E 0%, #4EABE6 100%),
	logo: linear-gradient(90deg, #59c3E1, #50a2d8)
);

$zindex: (
	'default-1',
	'default-2',
	'frames',
	'editor-view',
	'page-highlighter',
	'nu-controller',
	'nu-highlighter',
	'selection-area',
	'snap-area',
	'pages-preview',
	'ruler',
	'scale-ratio-editor',
	'scale-bar',
	'header',
	'mobile-panel',
	'footer',
	'function-panel',
	'color-panel',
	'sidebar',
	'editor-header',
	'nu-header',
	'coordinate',
	'dropdowns',
	'hint',
	'popup'
);

$ease-functions: (
	ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1),
	ease-out-elastic: cubic-bezier(0.75, -0.5, 0, 1.75)
);

$header-height: 72px;
