@use '@/assets/scss/utils/variables.scss' as *;

@function setColor($color, $opacity: 1) {
  @return rgba(map-get($colors, $color), $opacity);
}

@function setZindex($value) {
  @return index($zindex, $value);
}

@function setLinearGradient($gradient) {
  @return map-get($linear-gradient, $gradient)
}
